.mar {
  margin-left: 33%;
}

.blocks {
  width: 33%;
  text-align: center;
}
.blocks:hover{
  animation-name:zoom;
  animation-duration: 0.25s;
  width: 100%;
}
.bh {
  height: 33%;
}

.section {
  display: flex;
}

.spec {
  font-size: .75em;
  width: 75%;
  padding: 15px;
  text-align: center;
  margin: auto;
}
.crv {
  border-radius: 5px;
   box-shadow: 0px 0px 2px black;
}
.f {
   font-size: .75em !important;
}
.n {
  width: 33%;
  padding: 5px;
  text-align: center;
  margin: auto;
}
#a{
  background-color: rgb(172,201,201);
}
#b{
  background-color: rgb(82,82,242);
}
#c{
  background-color: rgb(99,99,145);
}
#d{
  background-color: rgb(117,117,223);
}
#e{
  background-color: rgb(250,217,168);
}

a {
  text-decoration: none;
  font-size: 1.5em !important;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-variant: small-caps;
  padding: 16.778% 0em;
  
}
body {
  height: 100%;
  font-size: 1.5em;
}
@keyframes zoom
{
  from {z-index:1;
    width: 33%;
    border-radius: 0em;
  }
  to{z-index:5;
    width: 100%;
    border-radius: 1em;
  }
}
a:hover {
  background-color: rgba(210,105,00,.1) !important;
}
